
.vscode/settings.json
lazy/.vs/proj/v15/.suo
lazy/.vs/proj/v15/Browse.VC.db
lazy/.vs/proj/v15/ipch/AutoPCH/d2387607ec4805a9/TEST.ipch
lazy/Debug/proj.Build.CppClean.log
lazy/Debug/proj.exe
lazy/Debug/proj.ilk
lazy/Debug/proj.log
lazy/Debug/proj.pdb
lazy/Debug/proj.tlog/CL.command.1.tlog
lazy/Debug/proj.tlog/CL.read.1.tlog
lazy/Debug/proj.tlog/CL.write.1.tlog
lazy/Debug/proj.tlog/link.command.1.tlog
lazy/Debug/proj.tlog/link.read.1.tlog
lazy/Debug/proj.tlog/link.write.1.tlog
lazy/Debug/proj.tlog/proj.lastbuildstate
lazy/Debug/test.obj
lazy/Debug/vc141.pdb
lazy/proj.vcxproj.user
.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/tasks.json
__init__.pyc
__pycache__/__init__.cpython-37.pyc
build-test-QT_5_32-Debug/qtc_QT_5_32_Отладка/qtc_QT_5_32_Отладка.bg
build-test-QT_5_32-Debug/qtc_QT_5_32_Отладка/test.a94a8fe5/test.cl.pdb
example/__pycache__/speed_chain.cpython-37.pyc
example/__pycache__/speed_cycle.cpython-37.pyc
example/__pycache__/speed_filter.cpython-37.pyc
example/__pycache__/speed_groupby.cpython-37.pyc
example/__pycache__/speed_map.cpython-37.pyc
example/__pycache__/speed_repeat.cpython-37.pyc
example/__pycache__/speed_takewhile.cpython-37.pyc
example/__pycache__/speed_zip.cpython-37.pyc
example/speed_groupby.pyc
example/speed_takewhile.pyc
example/speed_zip.pyc
lazy/.vs/proj/v15/ipch/2c16259499b4a3a2.ipch
lazy/.vs/proj/v15/ipch/AutoPCH/5314697d375e2aa9/TEST.ipch
lazy/.vs/proj/v15/ipch/AutoPCH/a2ea623af359f380/BOOST_PYTHON.ipch
lazy/boost_python.vcxproj.user
lazy/Debug/boost_python.dll
lazy/Debug/boost_python.exp
lazy/Debug/boost_python.lib
lazy/Debug/boost_python.log
lazy/Debug/boost_python.obj
lazy/Debug/boost_python.pdb
lazy/Debug/boost_python.tlog/boost_python.lastbuildstate
lazy/Debug/boost_python.tlog/boost_python.write.1u.tlog
lazy/Debug/boost_python.tlog/CL.command.1.tlog
lazy/Debug/boost_python.tlog/CL.read.1.tlog
lazy/Debug/boost_python.tlog/CL.write.1.tlog
lazy/Debug/boost_python.tlog/link.command.1.tlog
lazy/Debug/boost_python.tlog/link.read.1.tlog
lazy/Debug/boost_python.tlog/link.write.1.tlog
lazy/Debug/vc140.pdb
lazy/.vs/proj/v15/Solution.VC.db
lazy/.vs/proj/v15/Solution.VC.db-shm
lazy/.vs/proj/v15/Solution.VC.db-wal
lazy/.vs/proj/v15/Browse.VC.opendb
lazy/.vs/proj/v15/ipch/AutoPCH/79c45ba864008190/BOOST_PYTHON.ipch
lazy/Debug/boost_python.tlog/unsuccessfulbuild
lazy/Debug/boost_python.Build.CppClean.log
.vscode/settings.json
lazy/.vs/proj/v15/ipch/AutoPCH/8d91bfc39008ccc0/BOOST_PYTHON.ipch
lazy/.vs/proj/v15/ipch/AutoPCH/3cb112e1b03adfe9/TEST.ipch
lazy/Debug/boost_python.pyd
lazy/Debug/Lazy.Build.CppClean.log
lazy/Debug/Lazy.exp
lazy/Debug/Lazy.lib
lazy/Debug/Lazy.pdb
lazy/Debug/Lazy.pyd
lazy/Release/boost_python.log
lazy/Release/boost_python.tlog/boost_python.lastbuildstate
lazy/Release/boost_python.tlog/CL.command.1.tlog
lazy/Release/boost_python.tlog/unsuccessfulbuild
lazy/Lazy.pyd
lazy/Release/Lazy.Build.CppClean.log
lazy/Release/proj.Build.CppClean.log
lazy/Release/proj.exe
lazy/Release/proj.log
lazy/Release/proj.tlog/CL.command.1.tlog
lazy/Release/proj.tlog/CL.read.1.tlog
lazy/Release/proj.tlog/CL.write.1.tlog
lazy/Release/proj.tlog/link.command.1.tlog
lazy/Release/proj.tlog/link.read.1.tlog
lazy/Release/proj.tlog/link.write.1.tlog
lazy/Release/vc140.pdb
lazy/Release/proj.tlog/proj.lastbuildstate
.vscode/settings.json
lazy/Release/boost_python.obj
lazy/Release/boost_python.tlog/boost_python.write.1u.tlog
lazy/Release/boost_python.tlog/CL.read.1.tlog
lazy/Release/boost_python.tlog/CL.write.1.tlog
lazy/Release/boost_python.tlog/link.command.1.tlog
lazy/Release/boost_python.tlog/link.read.1.tlog
lazy/Release/boost_python.tlog/link.write.1.tlog
lazy/Release/Lazy.exp
lazy/Release/Lazy.lib
lazy/Release/Lazy.pdb
lazy/Release/Lazy.pyd
lazy/Release/proj.ilk
lazy/Release/proj.pdb
lazy/Release/proj.tlog/unsuccessfulbuild
lazy/Release/vc141.pdb
